@use "../global/config" as *;

:root {
  --icon-size: 22px;
}

body {
  background-color: var(--clr-neutral100);
  color: $clr-text;
  font-family: $ff;
  font-weight: $medium;
  font-size: 18px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  text-align: initial;
  -webkit-tap-highlight-color: transparent;
}

p {
  font-weight: $medium;
}
