@use "../global/config" as *;
@use "../global/class" as *;
@use "../global/fa" as *;

:root {
  --step-0: clamp(1rem, 0.2857rem + 1.9048vw, 2rem);
  --step-1: clamp(1.2rem, 0.2714rem + 2.4762vw, 2.5rem);
  --step-2: clamp(1.44rem, 0.2364rem + 3.2095vw, 3.125rem);
  --step-3: clamp(1.7281rem, 0.1723rem + 4.1488vw, 3.9063rem);
  --step-4: clamp(2.0738rem, 0.0671rem + 5.3512vw, 4.8831rem);
  --step-5: clamp(2.4881rem, -0.0945rem + 6.8869vw, 6.1038rem);

  --primary200: hsl(0, 100%, 67%);
  --primary300: hsl(39, 100%, 56%);
  --primary400: hsl(166, 100%, 37%);
  --primary500: hsl(234, 85%, 45%);

  //Neutral
  --neutral100: hsl(0, 0%, 100%);
  --neutral200: hsl(221, 100%, 96%);
  --neutral300: hsl(241, 100%, 89%);
  --neutral400: hsl(224, 30%, 27%);

  --clr-text: #121212;
  --clr-bg: #ffffff;

  --circle-size: 140px;
  --box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

main {
  padding: 0.5rem 0.5rem;
  display: grid;
  place-items: center;
  min-height: 100vh;

  .sec1 {
    background: $clr-gradient-outer;
    min-height: 342px;
    color: var(--neutral300);
    font-size: 18px;
    font-weight: $bold;

    border-radius: 0 0 32px 32px;
    text-align: center;
    padding: 1.6rem 0;
    display: grid;
    justify-content: space-around;

    > :nth-child(1) {
      font-size: 1em;
    }

    > :nth-child(2) {
      width: 7.5em;
      height: 7.5em;
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin-inline: auto;
      background: $clr-gradient-inner;
      margin: 1.2em auto 1.4em auto;
    }

    h1 {
      color: var(--clr-bg);
      font-size: 3em;
    }

    h2 {
      font-size: 1.5em;
    }

    span {
      font-size: 0.9em;
    }

    > :last-child {
      font-size: 0.7em;

      p {
        width: 76%;
        margin-inline: auto;
        margin-top: 0.7em;
        letter-spacing: 1px;
      }
    }
  }

  .sec2 {
    font-weight: $bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
      font-size: 1.1em;
    }

    padding: 2rem;
    font-size: 16px;

    ul {
      margin: 1.5rem 0 1.6rem 0;
      display: grid;
      gap: 1.2rem;

      > li {
        --box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        --circle-size: 10px;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        color: var(--primary200);
        box-shadow: var(--box-shadow);
        border-radius: var(--circle-size);
        font-size: 1.2rem;

        .icon {
          margin-right: 1rem;
        }
      }

      > :nth-child(1) {
        background-color: hsla(0, 100%, 67%, 0.068);
        .icon {
          @include fa-icon-solid($fa-var-bolt-lightning);
        }
      }
      > :nth-child(2) {
        color: var(--primary300);

        background-color: hsla(39, 100%, 56%, 0.068);
        .icon {
          @include fa-icon-solid($fa-var-brain);
        }
      }
      > :nth-child(3) {
        background-color: hsla(166, 100%, 37%, 0.068);
        color: var(--primary400);
        .icon {
          @include fa-icon-solid($fa-var-message);
        }
      }
      > :nth-child(4) {
        color: var(--primary500);
        background-color: hsla(234, 85%, 45%, 0.068);
        .icon {
          @include fa-icon-solid($fa-var-eye);
        }
      }

      span {
        color: var(--neutral300);
      }
    }

    button {
      width: 100%;
      text-align: center;
      height: 3rem;
      background-color: var(--neutral400);
      color: $clr-bg;
      border-radius: 16px;
      transition: 0.15s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (min-width: 695px) {
  .container {
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    box-shadow: var(--box-shadow);
    border-radius: 26px;
    min-height: 500px;
    > * {
      flex: 1;
    }

    .sec1 {
      --circle-size: 180px;
      border-radius: 26px;
      flex: 0 1 365px;
      font-size: 25px;
    }

    .sec2 {
      font-size: 22px;
    }
  }
}
