@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

$ff: "Work Sans", sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;

$heading: clamp(1.875rem, 0.9821rem + 2.381vw, 3.125rem);
$sub-heading: clamp(1.125rem, 2rem + -1.1667vw, 1.5625rem);

:root {
  --clr-surface: hsl(275, 100%, 97%);
  --clr-primary: hsl(292, 16%, 49%);
  --clr-primary400: hsl(292, 42%, 14%);
}

.dark-mode {
  --clr-bg: #121212;
  --clr-text: #ffffff;
}

.light-mode {
  --clr-text: #121212;
  --clr-bg: #ffffff;
}

$clr-bg: var(--clr-bg);
$clr-text: var(--clr-text);
